*{
    padding: 0px;
}
.header{
    background-image: url(../image/spiderman1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;
    color: red;
}
ul{
    background-color: red;
    height: 100px;
    text-align: center;
}
ul li{
    display: inline-block;
    padding-top: 17.5px;
    color: black;
}
ul li a{
    text-decoration: none;
    background-color: blue;
}